@tailwind base;
@tailwind components;
@tailwind utilities;

/* ユーザーエージェントスタイルシート(ブラウザ側のデフォルトCSS)が効いてしまっているので上書き */
body,
h1,
p {
  margin: 0;
}
body {
  font-family: " .SF NS";
}

div {
  unicode-bidi: normal;
}

/* :root {
--background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
